<div class="double-box">
    <div class="box">
        <div class="header">
            Create New Altfolio
        </div>
        <form autocomplete="off" action="/altfolio/create" class="action-form" method="post">
            <input type="hidden" name="signature" value="{@signature}">
            <div>
                <label for="name">Name</label>
                <input autocomplete="off" autocorrect="off" autocapitalize="off" autofocus="autofocus" spellcheck="false" type="text" id="name" name="name" />
            </div>
            <input type="submit" value="Create">
        </form>
    </div>
</div>