<div class="box">
    <div class="header">
        {@currentUsername}
    </div>
    <ul class="list-data">
        <li><span class="list-label">Username</span><span>{@currentUsername}</span></li>
        <li><span class="list-label">E-Mail</span><span>{@email}</span></li>
        <li><span class="list-label">Level</span><span>{@levelName}</span></li>
        <li><span class="list-label">Rig-Key</span><span>{@rigKey}</span></li>
    </ul>
    <a class="button" style="width: 200px" href="/user/edit{@editUserId}">Edit</a>
</div>

{@adminPanel}
